<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b36d2a10-a8c1-423b-8657-c298d0d3a391/resourceGroups/MonitoringLitterDetection/providers/Microsoft.ContainerRegistry/registries/littercontainers</ResourceId>
    <ResourceName>littercontainers</ResourceName>
    <ResourceGroup>MonitoringLitterDetection</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://littercontainers.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cf0d48d1-f679-4a06-846e-62c84ccb3542</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>